# **1. What are the two values of the Boolean data type? How do you write them?**


*  two values of the Boolean data type are True and False
* boolean data types of both are start with capital letters**(T for True and  F for False)** and remaining letters are lowercase letters

# **2. What are the three different types of Boolean operators?**

not , and , and  or  are the only built-in Python Boolean operators.

## **3. Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).**

Boolean operator's are and, or and not

> 
 **and truth table**

True and True is True

True and False is False

False and True is False

False and False is False


 **Or truth table**

True and True is True

True and False is True

False and True is True

False and False is False


**not truth table**

not True is False

not False is True

# 4. **What are the values of the following expressions**?
(5>4) and (3 == 5)

not (5 > 4)

(5 > 4) or (3 == 5)

not ((5 > 4) or (3 == 5))

(True and True) and (True == False)

(not False) or (not True)

In [2]:
(5>4) and (3 == 5) # (5>4 is True) and (3==5 is False),  True and False, gives False output(from and truth table)

False

In [3]:
not (5 > 4) # not(5>4 is True), but not(True) gives False output) (from not truth table)

False

In [4]:
not ((5 > 4) or (3 == 5)) # not(5>4 is True) or (3==5 is False),  not(True or False), gives True output(from or truth table)

False

In [5]:
(True and True) and (True == False)#(True and True)-----True output(from and truth table) and (True==False), gives False output, so finally (True and False gives False output)from or truth table)

False

In [6]:
(not False) or (not True)#(not False is True) or (not True is False), True or False is True(from or truth table)

True

# **5. What are the six comparison operators?**

== (Equal to operator)

!=(not equal to operator)

(>) --greaterthan operator

(<) --lessthan operator

(<=) --lessthan are equal

(>=) --greaterthan are equal

# **6. How do you tell the difference between the equal to and assignment operators?Describe a condition and when you would use one.**

**Equal to operator(==) :** Equal to operator is used to compare two values and evaluates a boolean output.

**>eg : 5==5**


**Assignment Operator** : Assignment Operator is used to store a value in a variable

**eg : a=5**



**condition :** condition is an Expression used in a Flow Control Statements that evaluates to a Boolean Value

# **7. Identify the three blocks in this code:**

spam = 0

if spam == 10:

print('eggs')

if spam > 5:

print('bacon')

else:

print('ham')

print('spam')

print('spam')



**Answer :**


*   Three blocks are nothing but Inside of If Statements, the lines are
*   print('eggs'), print('bacon'),print('bacon')



print('eggs')

if spam > 5:

print('bacon')

else:

print('ham')

# **8. Write code that prints Hello if 1 is stored in spam, prints Howdy if** **2 is stored in spam, and prints Greetings**! **if anything else is stored in spam**.

if spam == 1:

    print('Hello')

elif spam == 2:

    print('Howdy')

else:

    print('Greetings!')

# **9.If your programme is stuck in an endless loop, what keys youâ€™ll press?**

Press **ctrl-C** to stop a program stuck in an infinite loop.

# **10. How can you tell the difference between break and continue?**


**break**: The break statement can be used if you need to break out of a for or while loop and move onto the next section of code

**continue** : continue used to skip parts of the current loop or break out of the loop completely.

# **11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?**


They all do the same thing.

**The range(10)**--call ranges from 0 up to (but not including) 10.

**range(0,10)**--tells the loop to start at 0  and end at 9(10 is excluded).

and **range (0,10,1)**--tells the loop to increase the variable by 1 on each iteration.

# **12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.**

In [15]:
print("For loop")
for i in range (1,11):

  print(i)

For loop
1
2
3
4
5
6
7
8
9
10

In [18]:
print("While loop")

i = 1

while i <= 10:
  print(i)
  i = i + 1

While loop
1
2
3
4
5
6
7
8
9
10

# **13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam**?

**Ans :** This function can be called with spam.bacon().