**2.** **What will be the output of the following code snippet?**
**arr = [1, 2, 3, 4, 5, 6]**
**for i in range(1, 6):**
    arr[i - 1] = arr[i]
**for i in range(0, 6)**: 
    **print(arr[i], end = " ")**


---

In [7]:
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")

2 3 4 5 6 6

**3. Write a Python program to find the repeated items of a tuple.?**

In [19]:
#create a tuple
tuple = (2, 4, 5, 6, 2, 3, 4, 4, 7)
print(tuple)
count = tuple.count(4)#count the number of times it appears in the tuple.
print("repeted items of a tuple: {tuple} ", count)

(2, 4, 5, 6, 2, 3, 4, 4, 7)
repeted items of a tuple: {tuple}  3

In [16]:
tup=(1,3,4,32,1,1,1)  
for i in tup:
    if tup.count(i) > 1:
        print(f"REPEATED, {i}")

REPEATED, 1
REPEATED, 1
REPEATED, 1
REPEATED, 1

**4. Replace last value of tuples in a list with 500. Try using list comprehension?**

Example -: 

Input -:

[(10, 20, 40), (40, 50, 60), (70, 80, 90)]

Output -:
[(10, 20, 500), (40, 50, 500), (70, 80, 500)]

In [50]:
l=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print("output:",[t[:-1] + (500,) for t in l])

output: [(10, 20, 500), (40, 50, 500), (70, 80, 500)]