#1. What exactly is []?

**Empty list values. There is no elements or Items in a list**

#2. In a list of values stored in a variable called spam, how would you assign the value "hello" as the third value? 
(Assume [2, 4, 6, 8, 10] are in spam.)

In [ ]:
spam=[2, 4, 6, 8, 10] 
spam[2]="hello" # In python indexing starts from 0,if you want "hello" as 3rd element, we can use index 2, to add "hello" as 3rd element
print(spam)

[2, 4, 'hello', 8, 10]

#Let&#39;s pretend the spam includes the list [&#39;a&#39;, &#39;b&#39;, &#39;c&#39;, &#39;d&#39;] for the next three queries.

# 3. What is the value of spam[int(int(&#39;3&#39; * 2) / 11)]?

In [ ]:
# spam[int(int('3' * 2) / 11)]

spam=['a','b','c','d']

spam[int(int('3' * 2) / 11)] # int('3'*2)--->'33'---->int('33')----->33/11----->3----->int(3)--->'d'

'd'

#4. What is the value of spam[-1]?

In [ ]:
spam=['a','b','c','d']
spam[-1] #for negatitive values indexing starts from end so ['a','b','c','d'] last element in list is 'd'

'd'

#5. What is the value of spam[:2]?

In [ ]:
spam=['a','b','c','d']
spam[:2] #it prints values from starting index to 1 index, excludes the 2 index values.so values of index 0 and 1 it prints

['a', 'b']

# Let&#39;s pretend bacon has the list [3.14, &#39;cat,&#39; 11, &#39;cat,&#39; True] for the next three questions.

#6. What is the value of bacon.index(&#39;cat&#39;)?

In [ ]:
bacon = [3.14, 'cat', 11, 'cat', True]
bacon.index('cat') # it gives first cat indexing values

1

#7. How does bacon.append(99) change the look of the list value in bacon?

In [16]:
bacon = [3.14, 'cat', 11, 'cat', True]
bacon.append(99) # it adds the element at end value in list
bacon

[3.14, 'cat', 11, 'cat', True, 99]

#8. How does bacon.remove(&#39;cat&#39;) change the look of the list in bacon?

In [18]:
bacon = [3.14, 'cat', 11, 'cat', True]
bacon.remove('cat') # if duplicate values found in list, it removes the first value in list
bacon

[3.14, 11, 'cat', True]

#9. What are the list concatenation and list replication operators?

list concatenation operator is +

list replication operator is *

#10. What is difference between the list methods append() and insert()?



**append():** append() method add the element at the end of list.

In [4]:
#example for append

x = [3.14, 'cat', 11, True]
x.append(99) # it adds the element at end value in list
x

[3.14, 'cat', 11, True, 99]

**insert():** insert() method add the element in anyware of list, based on our requirement we can add element stating, ending and middle of list by using index number

In [5]:
#example for insert method(adding value 18 at 2nd index position in list)
x = [3.14, 'cat', 11, True]
x.insert(2,18) # adding value 18 at 2nd index position in list
x

[3.14, 'cat', 18, 11, True]

#11. What are the two methods for removing items from a list?

two methods for removing items from a list is

*   By using **del method** we can remove multiple values from list
*   by using **remove()** method also we can remove values from list

In [7]:
#example for remove() method
x = [10, 25, 3.14, 'cat', 11, True]
x.remove(3.14) #by using remove method we can remove element in list directly without using index number
x

[10, 25, 'cat', 11, True]

In [25]:
#example for del method
x = [10, 25, 3.14, 'cat', 11, True]
del x[0:2] # it delete the values between 0 and 2, excludes 2nd index number
x

[3.14, 'cat', 11, True]

#12. Describe how list values and string values are identical.


*   ***both lists and strings have lengths***

*   ***string length is the number of characters in a list***
*   ***list length is the number of elements or items in a list***
*   ***Each character in a string has index as well as each element in list have position***.

based on the characterstics list values and string values are identical

#13. What&#39;s the difference between tuples and lists?


**Lists**:


1.   Lists are mutable, we can add, remove, elements based on our requirement


**tuple**:

*   tuple are immutable, we can't add, remove elements in tuple once you created.

#14. How do you type a tuple value that only contains the integer 42?

In [26]:
tup=(42,)

#15. How do you get a list value&#39;s tuple form? How do you get a tuple value&#39;s list form?

In [32]:
# list values in tuple form

list=[1,2,3,4,5,6]
t=tuple(list)
t

(1, 2, 3, 4, 5, 6)

In [44]:
#tuple values in list form

tuple=(7,8,9,10,11)
l1=[]
for i in tuple:
  l1.append(i)
print(l1)

[7, 8, 9, 10, 11]

#16. Variables that &quot;contain&quot; list values are not necessarily lists themselves. Instead, what do they contain?

They contain references to list values.

#17. How do you distinguish between copy.copy() and copy.deepcopy()?


The copy.copy() function will do a shallow copy of a list.
while the copy.deepcopy() function will do a deep copy of a list.
That is, only copy.deepcopy() will duplicate any lists inside the list